# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MyGF.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\my_project\MyUnity\MyGF\.idea\.idea.MyGF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
