MyCg/Project/HelloCg01/Debug/HelloCg01.ilk
MyCg/Project/HelloCg01/Debug/HelloCg01.pdb
MyCg/Project/HelloCg01/.vs/HelloCg01/v15/.suo
MyCg/Project/HelloCg01/.vs/HelloCg01/v15/Browse.VC.db
MyCg/Project/HelloCg01/.vs/HelloCg01/v15/ipch/AutoPCH/a032a4252dbe8e50/HELLOCG01.ipch
MyGF/.vscode/extensions.json
MyGF/.vscode/launch.json
MyGF/.vscode/settings.json
MyGF/.vscode/tasks.json
MyFPS/.idea/.idea.MyFPSDemo/.idea/.gitignore
MyFPS/.idea/.idea.MyFPSDemo/.idea/encodings.xml
MyFPS/.idea/.idea.MyFPSDemo/.idea/indexLayout.xml
MyFPS/.idea/.idea.MyFPSDemo/.idea/riderModule.iml
