MyCg/Project/HelloCg01/Debug/HelloCg01.ilk
MyCg/Project/HelloCg01/Debug/HelloCg01.pdb
MyCg/Project/HelloCg01/.vs/HelloCg01/v15/.suo
MyCg/Project/HelloCg01/.vs/HelloCg01/v15/Browse.VC.db
MyCg/Project/HelloCg01/.vs/HelloCg01/v15/ipch/AutoPCH/a032a4252dbe8e50/HELLOCG01.ipch
MyGF/.vscode/extensions.json
MyGF/.vscode/launch.json
MyGF/.vscode/settings.json
MyGF/.vscode/tasks.json
MyFPS/.idea/.idea.MyFPSDemo/.idea/.gitignore
MyFPS/.idea/.idea.MyFPSDemo/.idea/encodings.xml
MyFPS/.idea/.idea.MyFPSDemo/.idea/indexLayout.xml
MyFPS/.idea/.idea.MyFPSDemo/.idea/riderModule.iml
MyXLua_LuaPerfect/.idea/*
MyBeatPlane/.idea/.idea.MyBeatPlane/.idea/.gitignore
MyBeatPlane/.idea/.idea.MyBeatPlane/.idea/encodings.xml
MyBeatPlane/.idea/.idea.MyBeatPlane/.idea/indexLayout.xml
MyBeatPlane/.idea/.idea.MyBeatPlane/.idea/vcs.xml
My2048/.idea/.idea.My2048/.idea/.gitignore
My2048/.idea/.idea.My2048/.idea/encodings.xml
My2048/.idea/.idea.My2048/.idea/indexLayout.xml
My2048/.idea/.idea.My2048/.idea/vcs.xml
